body {
  background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  color: #d1d1d1;
}

h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #ffffff;
}

#app {
  position: absolute;
  width: 500px;
  height: 665px;
  padding: 10px;
  background-color: #ffffff;
  border: none;
}

#top {
  /* position and size */
  position: relative;
  width: 95%;
  height: 60px;
  left: 50%;
  margin-top: 20px;
  margin-right: -50%;
  /* center horizontally */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  /* style */
  background-color: #ffffff;
  border: none;
}

.color-input {
  float: left;
  /* position: relative; */
  /* width: 260px; */
  /* height: 60px; */
  /* background-color: #ffffff; */
  /* center vertically */
  /* top: 50%;
  margin-bottom: -50%;
  transform: translate(0, -50%); */
}

.clear-palette {
  /* position: relative; */
  float: right;
  /* background-color: #5a2424; */
  /* center vertically */
  /* top: 50%;
  margin-bottom: -50%;
  transform: translate(0, -50%); */
}

input[type=text] {
  /* positon and size */
  position: relative;
  height: 30px;
  margin-right: 15px;
  /* style */
  border: 1px solid #cccccc;
}

input[type=submit] {
  /* position and size */
  position: relative;
  padding: 10px;
  /* style */
  background-color: #d1d1d1;
  border: none;
  color: #ffffff;
  /* font */
  font-weight: bold;
  font-size: 16px;
  /* center vertically */
  /* top: 50%;
  margin-bottom: -50%; */
  /* transform: translate(0, -50%) */
}

#middle {
  /* position and size */
  position: relative;
  width: 100%;
  height: 500px;
  /* center horizontally */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  /* style */
  background-color: #ffffff;
  border: none;
}

.color-square {
  float: left;
  width: 145px;
  height: 145px;
  margin: 10px;
  background-color: #ffcef7;
}

.color-label {
  /* position */
  position: relative;
  top: 125px;
  width: 100%;
  height: 20px;
  /* box */
  background-color: #ffffff;
  opacity: 0.5;
  /* font */
  color: #353535;
  text-align: center;
}

#bottom {
  /* position and size */
  position: relative;
  margin-top: 20px;
  width: 95%;
  /* height: 80px; */
  /* center horizontally */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  /* style */
  background-color: #ffffff;
  border: none;
}

button {
  /* position and size */
  position: relative;
  padding: 10px;
  /* style */
  background-color: #d1d1d1;
  border: none;
  color: #ffffff;
  /* font */
  font-weight: bold;
  font-size: 16px;
  /* center vertically
  top: 50%;
  margin-bottom: -50%;
  transform: translate(0, -50%) */
}

.saved-palettes {
  /* position and size */
  float: right;
  /* style */
}

select { 
  width: 200px;
  height: 30px;
}